@use "../abstracts" as *;

.gg-arrows-exchange-alt-v {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  z-index: 1;
}
.gg-arrows-exchange-alt-v::after,
.gg-arrows-exchange-alt-v::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  background: currentColor;
  border-radius: 4px;
}
.gg-arrows-exchange-alt-v::before {
  height: 6px;
  transform: rotate(-45deg);
  box-shadow: 13px -2px 0;
  top: 10px;
  left: 2px;
}
.gg-arrows-exchange-alt-v::after {
  height: 12px;
  box-shadow: -4px 4px 0;
  right: 4px;
}

.gg-arrows-exchange-v {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
}
.gg-arrows-exchange-v::after,
.gg-arrows-exchange-v::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  background: currentColor;
  border-radius: 4px;
}
.gg-arrows-exchange-v::before {
  height: 6px;
  transform: rotate(45deg);
  box-shadow: 7px -4px 0;
  top: 4px;
  left: 2px;
}
.gg-arrows-exchange-v::after {
  height: 12px;
  box-shadow: -4px 4px 0;
  right: 4px;
  bottom: 4px;
}

.burger-menu-wrapper {
  width: 3.2rem;
  height: 100%;
  cursor: pointer;
  @include flexCenter(column, 0.3rem);
  padding: 1rem 0;
  .burger-menu-bar {
    width: 100%;
    height: 0.2rem;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
  }
}

.gg-close {
  padding: 1rem 0;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 3.2rem;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  color: rgb(219, 219, 219);
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 1.3rem;
  height: 0.2rem;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  left: 29%;
}
.gg-close::after {
  transform: rotate(-45deg);
}

.gg-share {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 100px;
  box-shadow: 10px -6px 0, 10px 6px 0;
}

.gg-share::after,
.gg-share::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 2px;
}

.gg-share::before {
  top: 0;
  transform: rotate(-35deg);
}

.gg-share::after {
  bottom: 0;
  transform: rotate(35deg);
}
