@use "../abstracts" as *;

h1,
p,
a,
h2,
h3 {
  text-decoration: none;
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}

.navbar-logo {
  font-family: $logo-font;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 28px;
  color: #c8a117;
  -webkit-tap-highlight-color: transparent;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.35);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 100%;
  &.active {
    color: rgba(255, 255, 255, 0.897);
  }
  @media (hover: hover) {
    &:hover {
      color: rgba(255, 255, 255, 0.897);
      transition: 0.1s linear;
    }
  }
}

.menu--link {
  color: rgba(255, 255, 255, 0.35);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  margin-right: 2rem;
  -webkit-tap-highlight-color: transparent;
  &.active {
    color: rgba(255, 255, 255, 0.897);
  }

  &:hover {
    color: rgba(255, 255, 255, 0.897);
    transition: 0.1s linear;
  }
}

.header-title {
  color: #ffffff;
  font-size: 5rem;
}

.header-subtitle {
  color: rgba(255, 255, 255, 0.36);
  margin-top: -1.4rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.about-title {
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: #000000;
  font-family: $footer-font;
}

.about-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.64);
  font-family: $second-font;
}

.about-link {
  cursor: pointer;
  border: 3px solid #f04040;
  padding: 0.3rem;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(240, 64, 64, 1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(240, 64, 64, 1);
  box-shadow: 4px 4px 0px 0px rgba(240, 64, 64, 1);
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.015em;
  color: #1c1c1c;
  &:active,
  &:focus,
  &:visited {
    color: #1c1c1c;
  }
  &:hover {
    color: #1c1c1cc4;
    transition: 0.1s linear;
  }
}

.footer-copy {
  font-family: $footer-font;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #171717;
}

.post-content-title {
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  padding-top: 0.6rem;
  @include media($from: "md") {
    font-size: 1.5rem;
  }
}

.post-content-date {
  color: rgba(255, 255, 255, 0.22);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 52.5%;
  letter-spacing: 0.01em;
  align-self: flex-start;
}

.post-content-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.56);
}

.info-box--content-author {
  color: rgba(255, 255, 255, 0.56);
  font-size: 0.9rem;
  .info-box--content-author--name {
    color: #c8a117;
    font-weight: 600;
  }
}

.info-box--content-date {
  color: rgba(255, 255, 255, 0.56);
  font-size: 0.8rem;
}

.singlepost-content--title {
  font-weight: 600;
  padding: 0 1rem;
  font-size: 1.4rem;
  color: #fff;
}

.singlepost-content--description {
  color: rgba(255, 255, 255, 0.925);
}

.back-link {
  transition: 0.3s ease-in-out;
  font-family: $primary-font;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1rem;
  color: themed(text-0);
  margin-bottom: 0.5rem;
  @include flexCenter(row, 0px);
}
.back-link--icon {
  width: 0.9rem;
  margin-left: 0.2rem;
  @include flexCenter(row, 0px);
}

.copied--wrapper {
  @include flexCenter(row, 0);
  justify-content: flex-start;
  padding-right: 1rem;
  padding-left: 0.2rem;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #fff;
  font-family: $second-font;
}

.articles-title {
  color: rgba(255, 255, 255, 0.36);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

.date-title {
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 52.5%;
  color: rgba(255, 255, 255, 0.22);
}

.post-title {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  @include media($from: "md") {
    font-size: 1.2rem;
  }
}

.post-tags {
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.24);
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 15px;
  @include media($from: "md") {
    font-size: 1rem;
  }
}

.post-cat {
  color: #fff;
  padding: 0.2rem 0.4rem;
  margin: 0.3rem 0;
  border: 1px solid #fff;
  border-radius: 12px;
  &.NEWS {
    color: rgba(255, 168, 38, 0.56);
    border: 1px solid rgba(255, 168, 38, 0.56);
  }
  &.STORY {
    color: rgba(196, 46, 220, 0.56);
    border: 1px solid rgba(196, 46, 220, 0.56);
  }
  &.PUZZLE {
    color: rgba(37, 211, 75, 0.56);
    border: 1px solid rgba(37, 211, 75, 0.56);
  }
}
