@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;800;900&family=MedievalSharp&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #313131;
}

.App {
  max-width: 990px;
  margin: 0 auto;
}

h1,
p,
a,
h2,
h3 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}

.navbar-logo {
  font-family: "MedievalSharp", cursive;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 28px;
  color: #c8a117;
  -webkit-tap-highlight-color: transparent;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.35);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 100%;
}
.navbar-link.active {
  color: rgba(255, 255, 255, 0.897);
}
@media (hover: hover) {
  .navbar-link:hover {
    color: rgba(255, 255, 255, 0.897);
    transition: 0.1s linear;
  }
}

.menu--link {
  color: rgba(255, 255, 255, 0.35);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  margin-right: 2rem;
  -webkit-tap-highlight-color: transparent;
}
.menu--link.active {
  color: rgba(255, 255, 255, 0.897);
}
.menu--link:hover {
  color: rgba(255, 255, 255, 0.897);
  transition: 0.1s linear;
}

.header-title {
  color: #ffffff;
  font-size: 5rem;
}

.header-subtitle {
  color: rgba(255, 255, 255, 0.36);
  margin-top: -1.4rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.about-title {
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: #000000;
  font-family: "Archivo", sans-serif;
}

.about-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.64);
  font-family: "Roboto", sans-serif;
}

.about-link {
  cursor: pointer;
  border: 3px solid #f04040;
  padding: 0.3rem;
  -webkit-box-shadow: 4px 4px 0px 0px rgb(240, 64, 64);
  -moz-box-shadow: 4px 4px 0px 0px rgb(240, 64, 64);
  box-shadow: 4px 4px 0px 0px rgb(240, 64, 64);
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.015em;
  color: #1c1c1c;
}
.about-link:active, .about-link:focus, .about-link:visited {
  color: #1c1c1c;
}
.about-link:hover {
  color: rgba(28, 28, 28, 0.768627451);
  transition: 0.1s linear;
}

.footer-copy {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #171717;
}

.post-content-title {
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  padding-top: 0.6rem;
}
@media (min-width: 680px) {
  .post-content-title {
    font-size: 1.5rem;
  }
}

.post-content-date {
  color: rgba(255, 255, 255, 0.22);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 52.5%;
  letter-spacing: 0.01em;
  align-self: flex-start;
}

.post-content-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.56);
}

.info-box--content-author {
  color: rgba(255, 255, 255, 0.56);
  font-size: 0.9rem;
}
.info-box--content-author .info-box--content-author--name {
  color: #c8a117;
  font-weight: 600;
}

.info-box--content-date {
  color: rgba(255, 255, 255, 0.56);
  font-size: 0.8rem;
}

.singlepost-content--title {
  font-weight: 600;
  padding: 0 1rem;
  font-size: 1.4rem;
  color: #fff;
}

.singlepost-content--description {
  color: rgba(255, 255, 255, 0.925);
}

.back-link {
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1rem;
  color: themed(text-0);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.back-link--icon {
  width: 0.9rem;
  margin-left: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.copied--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  justify-content: flex-start;
  padding-right: 1rem;
  padding-left: 0.2rem;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.articles-title {
  color: rgba(255, 255, 255, 0.36);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

.date-title {
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 52.5%;
  color: rgba(255, 255, 255, 0.22);
}

.post-title {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
}
@media (min-width: 680px) {
  .post-title {
    font-size: 1.2rem;
  }
}

.post-tags {
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.24);
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 15px;
}
@media (min-width: 680px) {
  .post-tags {
    font-size: 1rem;
  }
}

.post-cat {
  color: #fff;
  padding: 0.2rem 0.4rem;
  margin: 0.3rem 0;
  border: 1px solid #fff;
  border-radius: 12px;
}
.post-cat.NEWS {
  color: rgba(255, 168, 38, 0.56);
  border: 1px solid rgba(255, 168, 38, 0.56);
}
.post-cat.STORY {
  color: rgba(196, 46, 220, 0.56);
  border: 1px solid rgba(196, 46, 220, 0.56);
}
.post-cat.PUZZLE {
  color: rgba(37, 211, 75, 0.56);
  border: 1px solid rgba(37, 211, 75, 0.56);
}

.gg-arrows-exchange-alt-v {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  z-index: 1;
}

.gg-arrows-exchange-alt-v::after,
.gg-arrows-exchange-alt-v::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  background: currentColor;
  border-radius: 4px;
}

.gg-arrows-exchange-alt-v::before {
  height: 6px;
  transform: rotate(-45deg);
  box-shadow: 13px -2px 0;
  top: 10px;
  left: 2px;
}

.gg-arrows-exchange-alt-v::after {
  height: 12px;
  box-shadow: -4px 4px 0;
  right: 4px;
}

.gg-arrows-exchange-v {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
}

.gg-arrows-exchange-v::after,
.gg-arrows-exchange-v::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  background: currentColor;
  border-radius: 4px;
}

.gg-arrows-exchange-v::before {
  height: 6px;
  transform: rotate(45deg);
  box-shadow: 7px -4px 0;
  top: 4px;
  left: 2px;
}

.gg-arrows-exchange-v::after {
  height: 12px;
  box-shadow: -4px 4px 0;
  right: 4px;
  bottom: 4px;
}

.navbar-wrapper {
  opacity: 1;
  background: #111111;
  width: 100%;
  height: 7.9rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.navbar-wrapper.sticky {
  padding: 0;
  z-index: 1005;
}
.navbar-wrapper .navbar-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.navbar-wrapper .navbar-content-wrapper.sticky {
  position: fixed;
  height: 3rem;
  background: #111111;
  top: 0;
  padding: 0 2rem;
  z-index: 1005;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.navbar-wrapper .navbar-content-wrapper .navbar-links-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  display: none;
}
@media (min-width: 576px) {
  .navbar-wrapper .navbar-content-wrapper .navbar-links-wrapper {
    display: flex;
  }
}
@media (min-width: 576px) {
  .navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper {
    display: none;
  }
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content {
  top: 7.9rem;
  position: absolute;
  background-color: #1d1d1d;
  width: 100%;
  right: 0;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  -webkit-box-shadow: 0px 4px 6px 0px #111111;
  -moz-box-shadow: 0px 4px 6px 0px #111111;
  box-shadow: 0px 4px 6px 0px #111111;
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content.sticky {
  top: 3rem;
  z-index: 1005;
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content .navbar-menu-btn {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  -webkit-tap-highlight-color: transparent;
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content .navbar-menu-btn .navbar-menu-icon {
  width: 3rem;
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content .navbar-menu--links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 2rem;
}
.navbar-wrapper .navbar-content-wrapper .navbar-menu-wrapper .navbar-menu--content .navbar-menu--links .menu--link {
  text-align: end;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding: 0.8rem;
  border-bottom: 1px solid rgba(253, 253, 253, 0.068);
}

.footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background: #e8ce47;
}

.home-wrapper {
  background: #111111;
  width: 100%;
}
.home-wrapper .home-content {
  width: 100%;
}
.home-wrapper .home-content .home-header-wrapper {
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.home-wrapper .home-content .home-posts-wrapper {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media (min-width: 680px) {
  .home-wrapper .home-content .home-posts-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper {
  width: 100%;
  cursor: pointer;
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper:hover {
  opacity: 0.85;
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper .post-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper .post-main-content .post-image-wrapper {
  max-width: 450px;
  width: 100%;
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper .post-main-content .post-image-wrapper .post-image {
  width: 100%;
}
.home-wrapper .home-content .home-posts-wrapper .post-main-wrapper .post-main-content .post-content-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper {
  width: 100%;
  border-bottom: 1px solid rgba(253, 253, 253, 0.062);
  padding: 0.5rem 0;
  cursor: pointer;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper:hover {
  opacity: 0.85;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper:last-child {
  border-bottom: none;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper .post-others-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  justify-content: flex-start;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper .post-others-content .post-image-others-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  max-width: 150px;
  min-width: 150px;
  width: 100%;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper .post-others-content .post-image-others-wrapper .post-image {
  width: 100%;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper .post-others-content .post-content-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.3rem;
  align-self: flex-start;
}
.home-wrapper .home-content .home-posts-wrapper .home-posts-other-wrapper .post-others-wrapper .post-others-content .post-content-text-wrapper .post-content-title {
  padding: 0;
  letter-spacing: 0.01rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.64);
}
.home-wrapper .home-content .home-about-wrapper {
  background-color: rgb(199, 199, 199);
  padding: 0 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.home-wrapper .home-content .home-about-wrapper .about-content {
  align-self: flex-start;
}
@media (min-width: 680px) {
  .home-wrapper .home-content .home-about-wrapper .about-content {
    align-self: center;
    max-width: 80%;
  }
}
.home-wrapper .home-content .home-about-wrapper .about-link {
  margin-top: 1rem;
  align-self: flex-end;
}
@media (min-width: 680px) {
  .home-wrapper .home-content .home-about-wrapper .about-link {
    margin-right: 2rem;
  }
}

.singlepost-wrapper {
  background-color: #111111;
  height: calc(100vh + 4rem);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  justify-content: start;
}
@media (min-width: 576px) and (max-width: 919px) and (orientation: landscape) {
  .singlepost-wrapper {
    height: 100%;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
  }
}
.singlepost-wrapper .singlepost-wrapper--main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  max-width: 36rem;
  width: 100%;
  padding: 0 1rem;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost--info-box {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost--info-box .info-box--image--wrapper {
  max-height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  z-index: 1003;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost--info-box .info-box--image {
  height: 100%;
  z-index: 1003;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost--info-box .info-box--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-image--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  max-width: 100%;
  min-width: 300px;
  width: 100%;
  min-height: 10rem;
  max-height: 15rem;
  background-color: rgba(0, 0, 0, 0.336);
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-image--container .singlepost-image {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-content {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: space-between;
  background-color: #333333;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-content .singlepost-content--description {
  margin: 0.5rem;
}
@media (min-width: 650px) {
  .singlepost-wrapper .singlepost-wrapper--main .singlepost-content .singlepost-content--description {
    max-width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 919px) and (orientation: landscape) {
  .singlepost-wrapper .singlepost-wrapper--main .singlepost-content .singlepost-content--description {
    width: 70%;
    align-self: flex-start;
  }
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-content .singlepost-content--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: -0.3rem;
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.308);
  width: 100%;
}
.singlepost-wrapper .singlepost-wrapper--main .singlepost-content .singlepost-content--footer .share-btn--icon {
  cursor: pointer;
  width: 2.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.posts-pagination--wrapper {
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.61);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.posts-pagination--wrapper .selected {
  cursor: default;
  text-decoration: none;
  padding: 0.1rem 0.3rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.952);
  border-radius: 5px;
}
.posts-pagination--wrapper .selected:hover {
  text-decoration: none;
}
.posts-pagination--wrapper .disabled {
  display: none;
}
.posts-pagination--wrapper li {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.192);
  padding: 0.1rem 0.3rem;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.posts-pagination--wrapper li:hover {
  color: #fff;
  transition: 0.1s linear;
}
.posts-pagination--wrapper .next,
.posts-pagination--wrapper .previous {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}
.posts-pagination--wrapper .next:hover,
.posts-pagination--wrapper .previous:hover {
  text-decoration: none;
}

.posts-wrapper {
  background: #111111;
  width: 100%;
}
.posts-wrapper .posts-content {
  width: 100%;
}
.posts-wrapper .posts-content .home-header-wrapper {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.posts-wrapper .posts-content .articles-section {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}
.posts-wrapper .posts-content .articles-section .articles-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  justify-content: space-between;
}
@media (min-width: 680px) {
  .posts-wrapper .posts-content .articles-section .articles-header-wrapper {
    justify-content: flex-start;
    gap: 2rem;
  }
}
.posts-wrapper .posts-content .articles-section .articles-header-wrapper .tools-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  padding: 0.4rem;
  font-weight: 700;
  font-size: 0.7rem;
  color: white;
  background: #3a3a3a;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.posts-wrapper .posts-content .articles-section .articles-header-wrapper .tools-btn:hover {
  background: #474747;
  transition: 0.1s linear;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper {
  width: 100%;
  cursor: pointer;
}
@media (hover: hover) {
  .posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper:hover {
    opacity: 0.85;
  }
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  align-items: flex-start;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(253, 253, 253, 0.116);
}
@media (min-width: 680px) {
  .posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-image-wrapper {
  width: 100%;
  max-width: 330px;
  z-index: 1003;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-image-wrapper .post-image {
  z-index: 1003;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  align-items: flex-start;
}
@media (min-width: 680px) {
  .posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-content-wrapper {
    padding-top: 0.5rem;
  }
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-content-wrapper .info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-content-wrapper .info-wrapper .author-image-wrapper {
  width: 100%;
  width: 19px;
}
.posts-wrapper .posts-content .articles-section .articles-wrapper .post-link-wrapper .post-wrapper .post-content-wrapper .info-wrapper .author-image-wrapper .author-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

/*# sourceMappingURL=style.css.map */
